.idea
.pre-commit-config.yaml
tests/scripts/target

# FIXME: pull via url (local repo or remote repo)
tests/resources/generic/portfolio-manager/client/ae-portfolio-manager-cli.jar
tests/resources/generic/portfolio-manager/service/ae-portfolio-manager-service.jar

**/target/
