.idea
.pre-commit-config.yaml
.mirror
.downloaded-mirror
.logs
external.rc

**/target/

tests/resources/portfolio-manager/client/ae-portfolio-manager-cli.jar
tests/resources/portfolio-manager/service/ae-portfolio-manager-service.jar
