# References a workbench used with the kontinuum. Most of the processors consume configuration and data from the workbench.
ae.workbench.dir=/PATH/TO/WORKBENCH

# The vulnerability mirror is required for the advise phase and vulnerability-centric reports.
vulnerability.mirror.dir=/PATH/TO/MIRROR

# In case an index is consumed, it is downloaded from the given url.
# For testing purposes you can use the provided URL. In case you have access to a full internal mirror replace the URL accordingly.
# vulnerability.mirror.url=https://metaeffekt.com/mirror/ae-vulnerability-mirror/ae-mirror-index_gen6-external.tar.gz

# The NVD_API_KEY is only required when building the vulnerability mirror locally. Usually, a pre-built index is consumed.
# nvd.api.key=<nvd-api-key>

# Controls the versions of core and artifact-analysis. Only for development and testing purposes. The defaults are defined by the kontinuum.
# ae.core.version=
# ae.artifact.analysis.version=

# Debug options
# If true, enables the maven debug flag providing additional log information
# debug=true
# If true, dumps all entries written to the log file onto the console
# dump.logs=true
# Can be set to a directory which will be utilized as a local maven repo
# local.maven.repo=
