# References a workbench used with the kontinuum. Most of the processors consume configuration and data from the workbench.
EXTERNAL_WORKBENCH_DIR="/PATH/TO/WORKBENCH"

# The vulnerability mirror is required for the advise phase and vulnerability-centric reports.
EXTERNAL_VULNERABILITY_MIRROR_DIR="/PATH/TO/MIRROR"

# In case an index is consumed, it is downloaded from the given url.
# For testing purposes you can use the provided URL. In case you have access to a full internal mirror replace the URL
# accordingly.
#EXTERNAL_VULNERABILITY_MIRROR_URL="https://metaeffekt.com/mirror/ae-vulnerability-mirror/ae-mirror-index_gen4-external.tar.gz"

# The NVD_API_KEY is only required when building the vulnerability mirror locally. Usually, a pre-built index is consumed.
#NVD_API_KEY="<nvd-api-key>"

# Controls the versions of core and artifact-analysis. Only for development and testing purposes. The defaults are
# defined by the kontinuum.
#AE_CORE_VERSION=
#AE_ARTIFACT_ANALYSIS_VERSION=

# Debug options
# If true, enabled the maven debug flag providing additional log information
#DEBUG=true
# If true, dumps all entries written to the log file onto the console
#DUMP_LOGS=true